body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    padding-right: 12vw;
    padding-left: 12vw;
}

li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    display: inline;
}

#one {
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 90px 12vw 90px;
}


h2{
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

p {
    font-size: 18px;
}

#image {
    height: 300px;
    width: 400px;
    margin-top: 30px;
    padding-left: 20px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 18px;
    border-radius: 10px;
    border: 1px solid #3882f6;
    margin-top: 10px;
}

#two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 9vw;
}

.two-random {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px auto;

}

.random-box {
    height: 100px;
    width: 100px;
    border: 2px solid #3882f6;
    border-radius: 6px;
    margin-bottom: 10px;
}

.random-info {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    margin: auto 23px;
}

.two-header {
    color: #1f2937;
    font-size: 41px;
    font-weight: 900;
}

.random-text {
    width: 100px;
}

#three {
    background-color: #e5e7eb;
}

#quote {
    padding: 100px 15vw 0px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
}

#author {
    display: flex;
    justify-content: flex-end;
    padding-right: 20vw;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 100px;
}

#four {
    margin: 100px 12vw;
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 7px;
}

#white-border {
    border: 1px solid white;
    margin-top: 0;
}

.flexed-button {
    padding: 5px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-left-header {
    font-size: 25px;
    font-weight: 600;
    padding-top: 10px;
}